.tee-time-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  position: relative;
  max-height: 80vh;
  min-height: 80vh;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  background: white;
}

.container-title {
  /* margin-bottom: 24px; */
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  box-shadow: inset 0px 0px 2px 0px rgb(0 0 0 / 50%);
  background-color: rgb(221, 218, 218);
}

.container-title > h2 {
  margin: unset;
  font-size: 1.25rem;
  font-weight: 600;
}

.type-select-con {
  background-color: rgb(221, 218, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4em;
  box-shadow: inset 0px 0px 2px 0px rgb(0 0 0 / 50%);
}

.no-invites-card {
  margin: 3em 0;
  transition: opacity 500ms ease-in-out;
}

.no-invites-link {
  color: #368552;
  font-weight: bold;
  text-decoration: none;
}

.no-invites-link:hover {
  text-decoration: underline;
}

.hidden {
  opacity: 0;
}

@media only screen and (min-width: 768px) {
  .tee-time-container {
    /* height: 560px; */
    display: grid;
    grid-template-rows: 4.5rem auto;
    grid-auto-rows: 3.75rem;
    margin-bottom: unset;
    padding: unset;
    border-radius: 16px;
  }

  .container-title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: unset;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .container-title > h2 {
    margin-bottom: unset;
  }

  .tee-times {
    padding: 20px 20px 0 20px;
    overflow: auto;
  }
}

@media only screen and (max-width: 768px) {
  .container-title {
    height: fit-content;
    top: unset;
    left: unset;
    right: unset;
    position: relative;
    margin-bottom: 20px;
  }

  .no-invites-card {
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .type-select-con {
    box-shadow: none;
  }
  .container-title {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 16px;
  }
  .tee-time-container {
    box-shadow: none;
  }
}
