.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  margin-top: 3em;
}

form {
  margin: 0 auto;
  max-height: 80vh;
  width: 60%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  border-radius: 16px;
  position: relative;
  overflow-y: auto;
}

.form-components-container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  height: inherit;
  width: 100%;
=======
>>>>>>> 09621c2 (Style event form)
}

.form-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  height: 3.5em;
  background-color: rgb(241, 243, 244);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.form-title > h2 {
  font-size: 1.25rem;
}

.btn-container {
  width: 100%;
  display: flex; 
  justify-content: center;
  background-color: rgb(241, 243, 244);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
}

.form-submit {
  margin: 1.8em 0;
  padding: 6px 16px; 
  border: unset; 
  border-radius: 32px;
  font-weight: 600;
  background-color: rgb(42, 222, 147);
  color: white;
}

.form-components > * {
  padding: 1em;
}

label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  animation-duration: 2s;
  opacity: 0;
  transition: opacity 500ms ease-in-out
}

.fade-in {
  opacity: 1;
}

<<<<<<< HEAD
=======
label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  animation-duration: 2s;
  opacity: 0;
  transition: opacity 500ms ease-in-out
}

.fade-in {
  opacity: 1;
}

>>>>>>> 09621c2 (Style event form)
.sub-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  opacity: 1;
}

label > * {
  margin-left: 1em;
}

.friend-list > input {
  margin-right: 1em;
}

.friend-list {
  width: fit-content;
}

.friend-list-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

#numPlayers {
  width: 4em; 
}

@media only screen and (max-width: 480px) {
  form {
    width: 90%;
  }
}
