form {
  width: 100%;
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.form-title {
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: 600;
}

button {
  margin-top: 2em;
  padding: 6px 16px; 
  border: unset; 
  border-radius: 32px;
  font-size: .9em; 
  font-weight: 600;
  background-color: rgb(42, 222, 147);
  color: white; 
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-bottom: 2em;  
  height: 100%;
  width: 45%;
  z-index: 1; 
}

.form-components {
  display: flex;
  flex-direction: column;
  height: 100%; 

}

.form-components > * {
  /* margin-top: 1em; */
  font-size: .8em;
  padding: 1em; 
}

label > * {
  margin-left: 1em;
}

span {
  font-size: small;
  /* margin-left: 0; */
}

.friend-list > input {
  margin-right: 1em;
}

.friend-list {
  width: fit-content;
  margin-top: 0.5em;
}

.friend-list-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1em;
}

#numPlayers {
  width: 4em; 
}

@media only screen and (min-width: 768px) {
  
}
