.dashboard {
  padding: 16px;
}

@media only screen and (min-width: 768px) {
  .dashboard {
    padding: 24px;
  }
  
  .tt-containers {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    margin: 0 auto;
  }
}
