.player-list-desktop {
  padding: 30px;
  height: 100%;
  width: 320px;
  background-color: #368552;
  display: flex; 
  flex-direction: column;
  border: none;
  color: #fff;
  overflow-y:none;
  text-align: center;
}

.player-list-mobile {
  padding-top: 30px;
  height: 100vh;
  width: 100%;
  background-color: #368552;
  padding: 40px;
  display: flex; 
  flex-direction: column;
  color: #fff;
  text-align: center;
}

/* .player-list-desktop,
.player-list-mobile {
  text-align: center;
} */

.player-list-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.player-type-btn {
  background-color: unset;
  padding: unset;
  border: unset;
  font-size: 1.15em;
  font-weight: inherit;
  cursor: pointer;
  color: #F8F8F8;
  text-align: center;
  align-self: center;
}

.player-type-btn:hover {
  color: white
}

.player-type-btn:hover {
  opacity: 0.9;
  transition-duration: 0.2s;
  transform: scale(1.0001);
}

.player-type-btn:nth-child(1) {
  padding-right: 8px;
  border-right: solid 1px rgba(0, 0, 0, .2);
}

.player-type-btn:nth-child(2) {
  padding-left: 8px;
}

.unselected {
  color: rgba(0, 0, 0, .45)
}

.player-type-select-desktop {
  color: #fff;
  padding-bottom: 50px;
}

.player-type-select-mobile {
  color: black;
  padding-bottom: 50px;
}

/* .player-list-desktop,
.player-list-mobile {
  text-align: center;
} */

.player-list-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.player-type-btn {
  background-color: unset;
  padding: unset;
  border: unset;
  font-size: 1.15em;
  font-weight: inherit;
  cursor: pointer;
  color: #F8F8F8;
  text-align: center;
  align-self: center;
}

.player-type-btn:nth-child(1) {
  padding-right: 8px;
  border-right: solid 1px rgba(0, 0, 0, .2);
}

.player-type-btn:nth-child(2) {
  padding-left: 8px;
}

.unselected {
  color: rgba(0, 0, 0, .45)
}

.player-type-select-desktop {
  color: #fff;
  padding-bottom: 50px;
}

.player-type-select-mobile {
  color: black;
  padding-bottom: 50px;
}