* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
}

#root {
  display: grid;
  grid-template-rows: 80px auto;
  height: 100%;
}

button:hover {
  cursor: pointer;
  filter: hue-rotate(90deg)
}

input:hover {
  cursor: pointer
}

select:hover {
  cursor: pointer
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
